//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 13 19:21:11 2017
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P6" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

