//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 09 19:28:13 2017
//! **************************************************************************

SCHEMATIC START;
COMP "x<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "x<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "x<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "a<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "a<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "b<0>" LOCATE = SITE "K3" LEVEL 1;
COMP "b<1>" LOCATE = SITE "B4" LEVEL 1;
SCHEMATIC END;

