//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 13 19:49:39 2017
//! **************************************************************************

SCHEMATIC START;
NET "mclk_BUFGP/IBUFG" BEL "mclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

